.navbar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.title-text {
    font-size: 18px;
}

.table-container{
    margin-top: 50px;
}

